@using System.Security.Claims
@using Project.Utils

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.17/dist/tailwind.min.css"
        asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <script src="https://unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <header>
        <nav class="bg-white shadow-sm border-b">
            <div class="container mx-auto px-6 py-4">
                <div class="flex justify-between items-center">
                    <!-- Logo -->

                    <a class="text-2xl font-bold text-gray-800 hover:text-black transition" asp-controller="Home"
                        asp-action="Index">
                        <i class="fas fa-microscope mr-2"></i>Lab Equipment Portal
                    </a>

                    <!-- Navigation links -->
                    <div class="flex space-x-6 text-base font-medium">
                        <a class="text-gray-700 hover:text-black hover:font-semibold transition" asp-controller="Home"
                            asp-action="Index">Home</a>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a class="text-gray-700 hover:text-black hover:font-semibold transition" asp-controller="Auth"
                                asp-action="SignIn">Sign In</a>
                            <a class="text-gray-700 hover:text-black hover:font-semibold transition ms-3"
                                asp-controller="Auth" asp-action="SignUp">Sign Up</a>
                        }
                        else
                        {
                            <span class="text-gray-600 px-2">
                                Welcome, <strong>@User.Identity.Name!</strong>
                            </span>

                            @if (User.HasClaim(ClaimTypes.Role, UserType.Manager.ToString()))
                            {
                                <a class="text-gray-700 hover:text-black hover:font-semibold transition ms-3"
                                    asp-controller="Manager" asp-action="BorrowRequest">Borrow Request</a>
                                <a class="text-gray-700 hover:text-black hover:font-semibold transition ms-3"
                                    asp-controller="Manager" asp-action="BorrowingItemList">Borrowing List</a>
                            }
                            <a class="text-gray-700 hover:text-black hover:font-semibold transition ms-3"
                                asp-controller="Profile" asp-action="Index">Profile</a>

                            <form class="inline-block ms-3" asp-controller="Home" asp-action="Logout" method="post">
                                <button type="submit"
                                    class="text-gray-700 hover:text-black hover:font-semibold transition">Logout</button>
                            </form>
                        }

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--     <footer class="border-t py-4 text-center text-gray-600"> -->
    <!--         <div class="container mx-auto"> -->
    <!--             &copy; 2025 - Project - <a asp-controller="Home" asp-action="Privacy" class="text-blue-500">Privacy</a> -->
    <!--         </div> -->
    <!--     </footer> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
